{% extends 'Admin-Header-Footer.html' %}

{% load static %}
{% block css %}

    <script type="text/javascript" src="{% static 'All/Admin Panel/assets/js/jquery-1.10.2.js' %}"></script>
	<title> View Seller </title>
{% endblock  %}

{% block content %}
    <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body pt-5">
          
        </div>
      </div>
    </div>
     <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-1">
              <h1 class="mb-0 text-primary" style="text-align: center;">User Details</h1>
            </div>
            <div class="container-fluid">
            <div class="row mt-3">
                <div class="col">
                    <div class="my-2 text-center"><h2>Profile Image</h2></div>
                    <div class="text-center">
                        <img style="border:9px solid black" src="/media/{{seller.profile_image}}" class="rounded" height="300px" width="300px">
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-5">
                    <div class="my-3 text-center"><h2>User Information</h2></div>
                    <!-- Light table -->
                    <div class="table-responsive ">
                    <table class="table align-items-center table-stripped table-bordered">
                        <tbody class="list">
                        <tr>
                            <th style="width:40%">
                                <div class="media align-items-center">
                                    ID
                                </div>
                            </th>
                            <td>
                                {{seller.id}}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="media align-items-center">
                                    Joined Date
                                </div>
                            </th>
                            <td>
                                {{seller.user_user_id.date_joined}}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                            <div class="media align-items-center">
                                GSTIN No.
                            </div>
                            </th>
                            <td>
                                {{seller.gstin}}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                            <div class="media align-items-center">
                                Name
                            </div>
                            </th>
                            <td>
                                {{seller.user_user_id.first_name}} {{seller.user_user_id.last_name}}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                            <div class="media align-items-center">
                                Store Name
                            </div>
                            </th>
                            <td>
                                {{seller.store_name}}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                            <div class="media align-items-center">
                                Address
                            </div>
                            </th>
                            <td style="white-space:pre-wrap; word-wrap:break-word; height:20px">
                                <div class="text-left">{{seller.store_address}}</div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                            <div class="media align-items-center">
                                Email Address
                            </div>
                            </th>
                            <td>
                                {{seller.user_user_id.email}}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                            <div class="media align-items-center">
                                Mobile No
                            </div>
                            </th>
                            <td>
                                {{seller.seller_mobile_num}}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                            <div class="media align-items-center">
                                City
                            </div>
                            </th>
                            <td>
                                {{seller.city_city_id.city_name}}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                            <div class="media align-items-center">
                                Active
                            </div>
                            </th>
                            <td>
                                {% if seller.user_user_id.is_active %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                            <div class="media align-items-center">
                                Subscription
                            </div>
                            </th>
                            <td>
                            {% if seller.seller_subscription %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                            <div class="media align-items-center">
                                Verification
                            </div>
                            </th>
                            <td>
                            {% if seller.is_verified %}
                                Completed
                            {% else %}
                                Pending
                            {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-7">
                <div class="my-3 text-center"><h2>Subscription Details</h2></div>
                <div class="">
                    <table class="table align-items-center table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th data-sort="index">Index</th>
                                <th data-sort="startdate">Start Date</th>
                                <th data-sort="enddate">End Date</th>
                                <th data-sort="subtype">Subscription Type</th>
                                <th data-sort="amount">Amount</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                                {% if not subscription %}
                                <tr>
                                    <td colspan=5>
                                        No Subscription Details...
                                    </td>
                                </tr>
                                {% endif %}
                                {% for s_sub,sub in subscription %}
                                <tr class="text-center">
                                    <td>
                                        {{ forloop.counter }}
                                    </td>
                                    <td>
                                        {{ s_sub.start_date }}
                                    </td>
                                    <td>
                                        {{ s_sub.end_date }}
                                    </td>
                                    <td>
                                        {{ sub.period }} {{ sub.subscription_type }}
                                    </td>
                                    <td>
                                        {{ sub.cost }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
                <div class="text-center my-5"><input onclick="window.history.back();" type="button" value="Back" class="btn btn-info" /></div>
                </div>
            </div>            
          </div>
        </div>
      </div>
      
      
    </div>
{% endblock %}

{% block js %}
{% endblock %}
