{% extends 'Admin-login-basic.html' %}

{% load static %}
  {% block css %}
  <title>Maruti E-Commerce Plateform - Admin Login</title>
  {% endblock %}

  {% block content %}
  <!-- Main content -->
  <body onload="alertmsg()">
  <div class="main-content">

    <!-- Page content -->
    <div class="container mt--6">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary border-0 mb-0">
            <div class="card-header bg-transparent ">
              
              <div class="btn-wrapper text-center">
                 <h2 class="mt-2">Login</h2>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              
              <form method="post" action="{% url 'adminpostlogin' %}" id="ctl00" role="form" >
              {% csrf_token %}
                <div class="form-group mb-3">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" type="email" required name="email">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Password" required type="password" name="password">
                  </div>
                </div>
                <div class="custom-control custom-control-alternative custom-checkbox">
                </div>
                <div class="text-center">
                    <input type="submit" name="admin_signin" value="Sign in" id="admin_signin" class="btn btn-primary my-4" />
                  
                </div>
              </form>
            </div>
          </div>
          <div class="row mt-3">
            
            <div class="col-12 text-right">
              <a href="{% url 'spforgetPassword' by='admin' stat='toSend' %}" class="text-light"><small>Forgot password?</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
  {% endblock %}

  {% block js %}
      {% if msg %}
        <script>
        function alertmsg(){
            alert('{{msg}}');
        }
        </script>
      {% endif %}
  {% endblock %}