{% extends 'Admin-login-basic.html' %}

{% load static %}

{% block css %}
	<title> OTP PAGE </title>

	<link rel="stylesheet" type="text/css" href="{% static 'All/Forgot Password/css/ForgotPassDesign.css' %} ">
	<link rel="stylesheet" type="text/css" href="{% static 'All/Bootstrap/css/bootstrap.css' %} ">

    {% if msg %}
    <script>
	function alertmsg(){
        alert('{{msg}}');
	}
    </script>
    {% endif %}
{% endblock %}

{% block content %}
<body onload="alertmsg()">
	<form method="post" action="{% url 'spforgetPassword' by=by stat='verify' %}" method="POST" id="form1">
	{% csrf_token %}
		<center>
			<div class="container mt--6 ">
				<div class="row justify-content-center">
					<div class="col-lg-5 col-md-10">
						<div class="forgot">
							<div>
								<h4 class="text-uppercase text-center">OTP verification</h4> </div>
							<div class="card mt-4">
								<div class="card-body">
									<div class="form-group">
									<input type='text' value={{user}} name='user' hidden>
										<label for="otp-pass">Enter your OTP:</label>
										<input name="otp" type="text" id="otp_pass" class="form-control" style="width: 200px;" required> 
										<small class="form-text text-muted">Enter OTP which is sent to your email address {{user}} during the registration.
		                    	
		                    	    </small> <small class="form-text text-muted">Then You'll reset your password.</small> </div>
								</div>
								<div class="card-footer">
									<input type="submit" name="Button1" value="Reset Password" id="Button1" class="btn btn-outline-primary">

						            <button class="btn btn-primary" onclick="location.href='{% url 'adminlogin' %}'" type="button" >Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</center>
	</form>
</body>
{% endblock %}

