{% extends 'Admin-Header-Footer.html' %}

{% load static %}

{% block css %}
  <title>Maruti E-Commerce Plateform - Customer</title>
  <script type="text/javascript" src="{% static 'All/Admin Panel/assets/js/jquery-1.10.2.js' %}"></script>

  <script type="text/javascript">
    function alertmsg(){
      {% if msg %}
        alert('{{msg}}');
      {% endif %}
    }

    $(function() {
      $("#myTable").tablesorter();
    });

    $(document).ready(function(){

      // for isactive
      var switchid;

      {% for customer,total_ord in customers %}
        switchid = "#switch"+{{forloop.counter}};
        $(switchid).change(function() {
          console.log(switchid)
          $.ajax({
          type:"GET",
              url: "{% url 'active' %}",
              data: {
                'id': {{customer.user_user_id.id}},
                'isactive': this.checked
              },
              dataType: 'json',
              success: function (data) {
                console.log(data);
            }
          });
        });
      {% endfor %}
    });
  </script>
{% endblock %}

{% block content %}
<body onload="alertmsg()">
    <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body pt-5">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total Customers</h5>
                      <span class="h2 font-weight-bold mb-0">{{total_cust}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="fa fa-users"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">New Customers</h5>
                      <span class="h2 font-weight-bold mb-0">{{today_cus}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              
            </div>
   
          </div>
        </div>
      </div>
    </div>
     <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <h1 class="mb-0 text-primary" style="text-align: center;">Customer</h1>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
              <table id="myTable" class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="id">Id</th>
                    <th scope="col" class="sort" data-sort="joindate">Join Date</th>
                    <th scope="col" class="sort" data-sort="name">Name</th>
                    <th scope="col" class="sort" data-sort="mobileno">Mobile No</th>
                    <th scope="col" class="sort" data-sort="due date">City</th>
                    <th scope="col" class="sort" data-sort="totalorders">Total Orders</th>
                    <th scope="col" class="sort" data-sort="view">View Details</th>
                    <th scope="col" class="sort" data-sort="active">Active</th>
                    <th scope="col" class="sort" data-sort="action">Action</th>
                  </tr>
                </thead>
                <tbody class="list txt1">
                {% for customer,total_ord in customers %}
                {% with y=forloop.counter|stringformat:"s" %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        {{customer.id}}
                      </div>
                    </th>
                    <td>
                      <div class="avatar-group">
                        {{customer.user_user_id.date_joined}}
                      </div>
                    </td>
                    <td>
                      {{customer.user_user_id.first_name}} {{customer.user_user_id.last_name}}
                    </td>
                    <td>
                      {{customer.customer_mobile_num}}
                    </td>
                    <td>
                      <div class="avatar-group">
                        {{customer.city_city_id.city_name}}
                      </div>
                    </td>
                    <td>
                      {% if total_ord %}
                        {{ total_ord }}
                      {% else %}
                        0
                      {% endif %}
                    </td>
                    <td>
                        <button type="button" class="btn btn-info" onclick="location.href='{% url 'adminviewcustomer' cid=customer.id %}'">View</button>
                    </td>
                    <td>
                      {% with switchid="switch"|add:y %}
                      <div class="d-flex align-items-center">
                        {% if customer.user_user_id.is_active %}
                        <input type="checkbox" id={{ switchid }} class="checkbox" checked/>
                        <label for={{ switchid }} class="toggle">
                        {% else %}
                        <input type="checkbox" id={{ switchid }} class="checkbox" />
                        <label for={{ switchid }} class="toggle">
                        {% endif %}
                      </div>
                      {% endwith %}
                    </td>
                    <td class="text-right">

                      {% with removeid="remove"|add:y %}
                        <button type="button" onclick="myFunction({{customer.user_user_id.id}})" id={{ removeid }} class="btn btn-danger">Remove</button>
                      {% endwith %}
                    </td>
                  </tr>
                  {% endwith %}
                  {% endfor %}
                  
                </tbody>
              </table>
            </div>
            <!-- Card footer -->
            <div class="card-footer py-4">
              {% if customers.has_other_pages %}
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                {% if customers.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ customers.previous_page_number }}" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#">
                        <i class="fas fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                  </li>
                {% endif %}
                {% for i in customers.paginator.page_range %}
                  {% if customers.number == i %}
                  <li class="page-item active">
                    <a class="page-link" href="#">{{ i }}<span class="sr-only">(current)</span></a>
                  </li>
                  {% else %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                  </li>
                  {% endif %}
                {% endfor %}
                {% if customers.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ customers.next_page_number }}">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                {% endif %}
                </ul>
              </nav>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
 </body>
 {% endblock %}

{% block js %}
<script>
  function myFunction(id)
      {
        alert('This customer cannot be remove because customer have recently place order.');
        if (confirm("Are you sure want to remove?")) {
          var x = "/adminside/removecustomer/"+id;
          location.href=x;
        } else {
        }
      }
</script>
{% endblock %}
