{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml"><head><title>
	Forgot Password
	</title>
	{% if msg %}

<script>
function alertmsg(){
    alert('{{msg}}');
}
</script> 

{% endif %}
	<link rel="stylesheet" type="text/css" href="{% static 'All/Forgot Password/css/ForgotPassDesign.css' %} ">
	<link rel="stylesheet" type="text/css" href="{% static 'All/Bootstrap/css/bootstrap.css' %} "></head>
	<body onload="alertmsg()">
		<form method="post" action="{% url 'forgetpassword' by=by stat='sent' %}" id="form1">
		{% csrf_token %}
			<div class="container mt-5 ">
				<div class="row justify-content-center">
					<div class="col-lg-5 col-md-10">
						<div class="forgot">
							<div>
								<h4 class="text-uppercase text-center">Forgot your password?</h4>
								<hr>
							</div>
							<ul class="mt-4"><li>Change your password in three easy steps. This will help you to secure your password!</li></ul>
							<ol>
								<li>Enter your email address below.</li>
								<li>Our system will send you a OTP on your registered email.</li>
								<li>Use that OTP to reset your password</li>
							</ol>
						</div>
						<div class="card mt-4">
							<div class="card-body">
								<div class="form-group"> <label for="email_for_pass">Enter your email address:</label> <input name="email" type="email" id="email_for_pass" class="form-control" required=""><small class="form-text text-muted">Enter the email address you used during the registration.</small>
								<small class="form-text text-muted">Then we'll email a OTP to this address.</small>
							</div>
						</div>
						<div class="card-footer">
							<input type="submit" name="Button1" value="Get OTP" id="Button1" class="btn btn-outline-primary">
							{% if by == 'seller' %}	
							<button class="btn btn-primary" onclick="location.href='{% url 'sellersignin' %}'" type="button" >Back to Login</button> 

							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body></html>