
<!DOCTYPE html>
<html>
<head>
<title>Seller Payment Transaction PDF</title>

<!-- CSS -->
<style>
hr{
        background-color:#404040;
    }
body{
    font-size:14px;
}
.myTable { 
  width: 100%;
  text-align: center;
  background-color: #ccebff;
  border-collapse: collapse;

  }
.myTable th { 
  background-color: #33adff;
  color: white; 
  }
.myTable td, 
.myTable th { 
  padding: 5px;
  border: 1px solid white;
  max-width:190px;

  }
#address{
    margin-right:530px;
}
</style>

</head>
<body>
    
    <header>
        <div align="center" style="padding-top:20px">
                <img src="C:\Users\Rahul\Desktop\maruti8\marutiecommerce\myshop\static\All\Admin Panel\assets\img\logo.png">
                <div style="padding-top:12px">
                <b style="font-size:24px">Maruti E-Commerce Platform</b>
                </div>
        </div>
        <div align="right">
            <p>Date: {{date}}</p>
        </div>  
    
    </header>
    <hr/>

    <b>Seller Id : </b> {{seller.id}}  <br/>
    <b>{{seller.user_user_id.first_name}} {{seller.user_user_id.last_name}}</b><br/>
                    
    <div id="address">
        {{seller.store_address}}
    </div>

<h2 align="center" style = "font-size:24px"> Payment Transaction </h2>
<table class="myTable" align="center">
	<tr>
		<th style="width:7%">No</th>
        <th>Date</th>
        <th>Intention</th>
        <th>Payment Method</th>
        <th>Payment Status</th>
        <th>Amount ( Rs. )</th>
	</tr>
                  {% for transaction in transactions %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>
                      <div class="avatar-group">
                        {{transaction.transaction_date}}
                      </div>
                    </td>
                    <td>
                      <div class="avatar-group">
                        {{transaction.payment_intention_payment_intention_id.payment_intention_desc}}
                      
                      </div>
                    </td>
                    <td> 
                      {{transaction.payment_method_payment_method_id.payment_method_name}}
                    </td>
                    <td>
                      {% if transaction.credit_debit %}
                        Credited
                      {% else %}
                        Debited
                      {% endif %}
                    </td>
                    <td>
                      {{transaction.amount}}
                    </td>
                  </tr>
                  {% endfor %}
                  
</table>

</body>
</html>