{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Seller Payment Acknowledgement</title>

<!-- CSS -->
<style>
hr{
        background-color:#404040;
    }
body{
    font-size:14px;
}
.myTable { 
  width: 100%;
  text-align: center;
  background-color: #a1ddbf;
  border-collapse: collapse;

  }
.myTable th { 
  background-color: #26734d;
  color: white; 
  }
.myTable td, 
.myTable th { 
  padding: 5px;
  border: 1px solid white;
  width:190px;

  }
  #address{
    margin-right:530px;
    }
</style>

</head>
<body>
    
    <header>
        <div align="center" style="padding-top:20px">
                <img src="C:\Users\Rahul\Desktop\maruti8\marutiecommerce\myshop\static\All\Admin Panel\assets\img\logo.png">
                <div style="padding-top:12px">
                <b style="font-size:24px">Maruti E-Commerce Platform</b>
                </div>
        </div>
        <div align="right">
            <p>Date: {{date}}</p>
        </div>  
    
    </header>
    <hr/>

     <div>
        <p>
            <b>Transaction Id :</b>{{transaction.id}}<br/>
            <b>Seller Id :</b>{{transaction.seller_seller_id.id}}
        </p>
        
    </div>
        <b>{{transaction.seller_seller_id.user_user_id.first_name}} {{transaction.seller_seller_id.user_user_id.last_name}}</b><br/>
        <div id="address">{{transaction.seller_seller_id.store_address}}</div>
    <div style="padding-top:15px">
        <b>GST No : </b> {{transaction.seller_seller_id.gstin}}
    </div>

<h2 align="center" style = "font-size:24px">Payment</h2>
<table class="myTable" align="center">
	<tr>
		<th scope="col">No</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Subscription Type</th>
        <th scope="col">Payment Method</th>
        <th scope="col">Amount ( Rs. )</th>
	</tr>
        <tr>
            <td>1</td>
            <td>{{seller_sub.start_date}}</td>
            <td>{{seller_sub.end_date}}</td>
            {% if subscription %}
            <td>{{ subscription.period }} {{ subscription.subscription_type }}</td>
            {% else %}
            <td>-</td>
            {% endif %}
            
            <td>{{transaction.payment_method_payment_method_id.payment_method_name}}</td>
            <td>{{transaction.amount}}</td>
        </tr>
        <tr>
            <td colspan=5 style="text-align:right"><h4>Total Amount</h4></td>
            <td><b>{{transaction.amount}}</b></td>
        </tr>
        <tr>
            <td colspan=6 style="text-align:left"><p style="font-size:16px;">Total amount in words : <b>{{amt_word}}</b></p></td>
            
        </tr>
</table>

<div style="text-align:center;padding:5px;background-color:#ccebff;margin-top:30px;vertical-align: baseline;">
    <b>Thank You</b>
</div>

</body>
</html>